<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.EchartMapper">

 <!--   <resultMap id="BaseResultMap" type="mybatis.bean.Efficiency" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />

    </resultMap>-->

     <select id="selectEchart" resultType="double">
       SELECT
       e.utilization_of_equ as viewdata
      FROM
	`efficiency` AS e;
     </select>


    <select id="selectEchart2" resultType="double">
      SELECT
	e.utilization_of_ratio as ratio
FROM
	`efficiency` AS e;
     </select>

    <select id="selectMonth" resultType="String">
       SELECT
      substring(e.date, 1, 7) as date
       FROM
	 `efficiency` AS e order  by e.date asc;
    </select>


<!--    <select id="selectCount" resultType="mybatis.bean.CountMonth">-->
<!--       SELECT-->
<!--      substring(e.date, 1, 7) as date-->
<!--       FROM-->
<!--	 `efficiency` AS e order  by e.date asc;-->
<!--    </select>-->











</mapper>
